* {
        -webkit-box-sizing:border-box; 
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        padding : 0;
        margin : 0;
        outline :0;
        border:0;
        font-family : 'noto_sans';
}

body {
	color:#000000;
	background :#ffffff;
        /* overflow-x: hidden; */
}

h1,h2,h3,h4,h5,h6 , h1 > * ,h2 > *,h3 > *,h4 > *,h5 > *,h6 > * , button , button > *{
        font-family: 'elegant_3';
}

a:hover{
        color:rgb(199, 176, 74);
}

.center{
	-webkit-display :flex;
	-moz-display :flex;
	-o-display :flex;
	display :flex;
	justify-content :center;
	align-items :center;
}

.cap {
	background :rgb(0,0,0,0.5);
	background :rgba(0,0,0,0.5);
	z-index :2;
}

.transition {
        transition :all 2s ease  ;
}

.zoom-bg {
        transition :background-size transform 2s ease  ;
}

.zoom-bg:hover{
        background-size :120% 120%;
        transition : background-size 2s ease;
}

.zoom-fit{
        transition:transform 2s ease;
}

.zoom-fit:hover{
        transform :scale(1.25 , 1.25);
        transition :transform 2s ease;
}

.mh{
        -webkit-min-height :200px; 
        -moz-min-height :200px; 
        -o-min-height :200px; 
        min-height :200px; 
}

.mh-md{
        -webkit-min-height :350px; 
        -moz-min-height :350px; 
        -o-min-height :350px; 
        min-height :350px; 
}

.mh-lg {
        -webkit-min-height :500px; 
        -moz-min-height :500px; 
        -o-min-height :500px; 
        min-height :500px; 
}

nav.navbar .navbar-toggler {
        /* border: 1px solid rgb(199, 176, 74); */
        border: none;
        color:rgb(0, 0, 0);
}

nav.navbar .navbar-toggler:focus {
        /* border: 1px solid rgb(199, 176, 74); */
        /* box-shadow:0 0 0 .25rem #f1f1749d; */
        box-shadow: none;
}

ul.navbar-nav > li.nav-item > a.nav-link {
        color:#212529;
}

ul.navbar-nav > li.nav-item > a.nav-link:hover {
        color:rgb(199, 176, 74);
}

ul.navbar-nav > li.nav-item > a.nav-link.active {
        color:rgb(199, 176, 74);
}

.active {
        color:rgb(199, 176, 74);
}

/*-----------------------------------------------------*/

ul.pagination > .page-item > .page-link {
	border: 1px solid rgb(199, 176, 74);
}

ul.pagination > li.page-item.active > .page-link {
	background-color:rgb(199, 176, 74);
}

.pagination > .page-item.active > .page-link:hover{
	color:rgb(255, 255, 255);
}

.pagination > .page-item.active > .page-link{
	color:rgb(255, 255, 255);
}

.pagination > .page-item > .page-link:hover{
	color:rgb(199, 176, 74);
	background-color:#fcfcb2;
}

.pagination > .page-item > .page-link{
	color:rgb(199, 176, 74);
}


ul.pagination > li.page-item > a.page-link:focus{
	color:rgb(199, 176, 74);
	background-color:#fcfcb2;
	box-shadow:0 0 0 .25rem #f1f1749d;
}



/* ====================== RESPONSIVE  ======================== */

@media (min-width :576px){        /*sm*/

}

@media (min-width :768px){        /*md*/

}

@media (min-width :991px){        /*lg*/

}

@media (min-width :1200px){        /*xl*/

}


/*-----------------------------------------------------*/






